---
import React from 'react';
import Layout from '../layouts/Layout.astro';
import Card from '../components/shared/Card.astro';
import Skill from '../components/shared/Skill.astro';
import HeroBanner from '../components/shared/HeroBanner.astro';
import ContactForm from '../components/shared/ContactForm.astro';
import ProjectList from '../components/domain/homepage/ProjectList.jsx'


import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article';

const technologiesList = await fetchApi({
endpoint: '/technologies?populate[icon][fields]=url',
});

const fields = await fetchApi({
endpoint: '/fields',
});

const projects = await fetchApi({
endpoint: '/projects?populate[images][fields]=url&populate[technologies][fields]=name&populate[field][fields]=name',
});

---

<Layout title="Welcome to Irveloper's website">
    <!--    HeroBanner-->
    <div class="w-full">
        <div class="">
            <HeroBanner/>
        </div>
        <div class="flex flex-col justify-center items-center bg-primary  md:mx-auto py-12 px-5" id="about-me">
            <div class="container flex flex-col  items-center justify-center">
                <h2 class="text-3xl text-white">About Me</h2>
                <p class="text-lg text-gray-400 pt-6">
                    Software Engineer, with +6 years of experience, developing software products and solutions in B2B and B2C industries, working with backend and frontend.
                </p>
            </div>
        </div>
        <section class="w-full flex flex-col justify-center items-center bg-secondary px-0  mx-auto px-8">
            <header class="flex justify-center items-center flex flex-col gap-2">
                <h2 class="text-3xl text-white">My Preferred Stack</h2>
                <p>
                    Tools and technologies that I enjoy most
                </p>
            </header>
            <div class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-8  md:flex-row gap-4 p-0">
                {technologiesList?.data && technologiesList.data.map((item) => (
                <div class="flex-grow" key={item.title}>
                    <button className="p-0">
                        <Skill
                                title={item?.attributes.name}
                                description={item.attributes.description}
                                icon={item?.attributes.icon?.data?.attributes?.url}
                        />
                    </button>
                </div>
                ))}
            </div>
        </section>
       <ProjectList
               filterItems={fields?.data}
               items={projects?.data}
               client:only="react"
       />
        <ContactForm/>
    </div>
</Layout>
